.taskItemTile {
  margin: 0.3em;
  background-color: var(--neutral-white-color);
  border-radius: 3px;
  min-height: 4em;
  display: flex;
  align-items: center;
  border: 0.5px solid transparent;
  transition: border 0.3s ease;
  min-width: 250px;
  /* max-width: 300px; */
}

.taskItemTile:hover {
  cursor: pointer;
  border: 0.5px solid var(--neutral-dark-gray);
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transition: border 0.3s ease;
}

.checkbox-container{
  height: 100%;
  width: 100%;
  border-radius: 3px 0 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-off {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid var(--neutral-black-color);
  border-radius: 3px;
  background-color: #fff;
  margin: 1em;
  cursor: pointer;
  position: relative;
}

.check-off:not([disabled]) {
  border-color: var(--neutral-black-color);
}

.check-off:not([disabled]):hover::after {
  content: '\2714';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check-off:disabled {
  border-color: #ccc;
}

.check-off:disabled::after {
  content: '\2714';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.taskModalButton {
  border: 0.5px solid transparent;
  border-radius: 3px;
  background-color: var(--neutral-white-color);
  margin: 0.1em;
  min-height: 4em;
  min-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  transition: border 0.3s ease;
}

/* OpenModalTaskItem */
.task-tile-content{
  display: flex;
  flex-direction: column;
}

.task-tile-content p {
  margin: 0;
  color: var(--neutral-black-color);
  font-family: var(--font-family-primary);
  text-align: flex-start;
}

.task-tile-content small {
  margin: 0;
  color: var(--neutral-dark-gray);
  font-family: var(--font-family-secondary);
  text-align: start;
  width: 80%;
}
