.equipment-wrapper {
  /* border: 1px solid red; */
  padding-left: 16px;
  background-color: #f9f9f9;
}

.equipment_heading {
  padding: 20px 0;
  font-family: 'Cinzel Decorative', serif;
  font-size: 28px;
  font-weight: bold;
}

.equipment-section_heading {
  background-color: var(--neutral-gray-color);
  border-radius: 5px;
  width: 200px;
  margin: 5px 0px 15px;
  padding: 5px 10px 5px 5px;
  display: flex;
  justify-content: space-between;
  /* font-family: 'Cinzel Decorative', serif; */
  font-size: 20px;
  font-weight: bold;
}

.equipment-section_equipment {
  display: flex;
  flex-wrap: wrap;
}

.equipment_item {
  margin-right: 20px;
  cursor: pointer;
}

.equipment_item-image {
  border: 1px solid black;
  border-radius: 5px;
}

.eq-font {
  font-family: 'Playfair Display', serif;
}

/* ********** ITEM MODAL ******************************************************************************** */

.item-modal-wrapper {
  /* background-color: white; */
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-modal-name,
.item-modal-description {
  cursor: default;
}

.item-modal-name {
  margin-bottom: 10px;
  font-family: 'Cinzel Decorative', serif;
  font-size: 22px;
  font-weight: bold;
  color: var(--accent-light-gold);
  text-align: center;
}

.item-modal-rename-field {
  width: 250px;
  height: 24px;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

.item-modal-description,
.item-modal-buttons {
  font-family: 'Playfair Display', serif;
}

.item-modal-description {
  /* margin-bottom: 10px; */
  color: white;
}

.item-modal-img {
  border-radius: 5px;
  margin: 40px auto;
}

.item-modal-buttons-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.item-modal-buttons {
  border: 1px solid black;
  border-radius: 5px;
  height: 35px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.imb-buy {
  background-color: var(--accent-color-gold);
  min-width: 100px;
}

.imb-sell {
  background-color: var(--accent-color-red);
  min-width: 90px;
}

.imb-equip {
  background-color: var(--accent-color-blue);
  min-width: 90px;
}

.imb-rename {
  background-color: var(--primary-color);
  margin: 10px 0 15px;
  width: 70px;
  height: 25px;
  font-size: 14px;
}

.disabled {
  opacity: .2;
  cursor: default;
  user-select: none;
}
