.avatar-equipment-wrapper {
  margin: 16px;
  color: white;
}

.ae_heading {
  margin-bottom: 15px;
  font-family: 'Cinzel Decorative', serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ae_equipped-items-container {
  display: flex;
  justify-content: space-around;
}

.ae_equipped-items-section {
  border: 1px solid black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1em;
  background-color: var(--secondary-color);
  width: 130px;
  /* min-height: 150px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ae_equipped-items-title {
  margin-bottom: 10px;
  font-family: 'Cinzel Decorative', serif;
}

.ae_equipped-items-img {
  margin: 10px 0;
}

.ae_equipped-items-name {
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
  color: var(--accent-light-gold);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .avatar-equipment-wrapper {
    margin: 10px;
  }

  .ae_heading {
    font-size: 18px;
  }

  .ae_equipped-items-container {
    flex-direction: column;
    align-items: center;
  }

  .ae_equipped-items-title,
  .ae_equipped-items-name {
    margin-bottom: 5px;
  }

  .ae_equipped-items-section{
    margin-bottom: 1em;
  }

  .main-card,
  .head-card,
  .armor-card {
    padding: 0.5em;
    margin-bottom: 1em;
  }
}
