/* ********** SETTINGS ******************************************************************************** */

.settings-wrapper h1,
.settings-wrapper h2 {
  font-family: 'Cinzel Decorative', serif;
}

.settings_account_row-start,
.settings_account_row-middle,
.settings_account_edit-button {
  font-family: 'Playfair Display', serif;
}

.settings-wrapper {
  /* border: 1px solid red; */
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.settings-wrapper h1 {
  margin: 16px auto;
  font-size: 28px;
}

.settings-wrapper h2 {
  font-size: 22px;
}

.settings_account-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.settings_account_row {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 7px 0 2px;
  display: flex;
  justify-content: space-between;
}

.settings_account_row:first-child {
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.settings_account_row-subcontainer {
  display: flex;
}

.settings_account_row-start {
  width: 110px;
  margin-right: 100px;
}

.settings_account_row-middle {
  width: 90px;
  margin-right: 100px;
}

.settings_account_edit-button {
  cursor: pointer;
  list-style: none;
  text-decoration: underline;
  color: blue;
}

/* ********** SETTINGS MODAL ******************************************************************************** */

.settings-modal-wrapper,
.fixvalues-modal-wrapper {
  background-color: white;
  width: 300px;
  height: 200px;
  padding: 15px;
}

/* ********** FIX VALUES MODAL ******************************************************************************** */

.fixvalues-modal-wrapper div {
  margin: 10px 0;
}

.fixvalues-heading {
  font-weight: bold;
}

.fixvalues-gold {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
