.task-border {
  margin: 1em;
  border: 5px groove var(--accent-color-gold);
}

.edit-task-container {
  width: 400px;
  padding: 1em;
}

.edit-task-container label {
  color: var(--neutral-white-color);
  font-family: var(--font-family-primary);
  font-size: 19px;
}

.edit-task-container form {
  display: flex;
  flex-direction: column;
  color: var(--neutral-white-color);
  text-align: start;
}

.edit-task-container input {
  margin: 1em 0;
  color: var(--neutral-white-color);
  font-family: var(--font-family-form);
  font-weight: var(--font-weight-bold);
  width: 95%;
  padding: 10px;
  border: 1px solid var(--accent-color-gold);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.edit-task-container input:hover,
.edit-task-container input:focus {
  border-color: #7c5a03;
  background-color: rgba(0, 0, 0, 0.5) !important;
  outline: none;
}

.edit-task-container input::placeholder {
  color: var(--neutral-white-color);
  font-family: var(--font-family-secondary);
}

.edit-task-container .btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em;
}

/* DeleteTaskModal */
.delete-task-border {
  margin: 1em;
  border: 5px groove var(--accent-color-gold);
}

.delete-task-container {
  width: 400px;
  padding: 1em;
  text-align: center;
}

.delete-task-border h1 {
  color: var(--neutral-white-color);
  font-family: var(--font-family-primary);
}

.delete-task-border p {
  color: var(--neutral-white-color);
  font-family: var(--font-family-secondary);
}

.delete-task-border .btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em;
}

#YDeleteRvwBtn,
#NDeleteTaskBtn {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .edit-task-container {
    width: 90%;
    margin: 0 auto;
  }

  .edit-task-container label {
    font-size: 16px;
  }

  .edit-task-container input {
    width: 100%;
  }

  .edit-task-container .btns {
    flex-direction: column;
    margin: 1em auto;
  }

  .delete-task-container {
    width: 90%;
    margin: 0 auto;
  }

  .delete-task-border h1 {
    font-size: 20px;
  }
}
