.landpage {
  background-image: url(../../../dist/assets/imgs/lading_page_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -1em;
}

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  justify-content: center;
  /* margin-top: 3em; */
}

.banner_img {
  width: 70%;
  max-width: 100%;
}

.signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.landpage p {
  color: var(--neutral-white-color);
  font-family: var(--font-family-secondary);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.landpage h1,
.landpage h3 {
  color: var(--neutral-white-color);
  font-family: var(--font-family-primary);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 0;
}

.signup form {
  max-width: 400px;
  border-radius: 8px;
  font-family: var(--font-family-secondary);
  margin: 0 auto;
}

.signup input {
  display: block;
  margin-bottom: 10px;
  color: var(--neutral-white-color);
  font-family: var(--font-family-form);
  font-weight: var(--font-weight-bold);
  width: 95%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.signup input:hover,
.signup input:focus {
  border-color: var(--neutral-gray-color);
  background-color: rgba(0, 0, 0, 0.5) !important;
  outline: none;
}

.signup input::placeholder {
  color: var(--neutral-white-color);
  font-family: var(--font-family-form);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.btn-signup {
  color: var(--neutral-white-color);
  background-color: var(--accent-color-red);
  font-family: var(--font-family-primary);
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease, font-size 0.3s ease;
}

.btn-signup:hover {
  background-color: rgba(96, 17, 17, 0.9);
}

.waves_banner {
  background-color: #123812;
  z-index: 1;
  height: fit-content;
}

.waves {
  height: 150px;
  overflow: hidden;
}

.waves svg {
  height: 100%;
  width: 100%;
}

.waves path {
  stroke: none;
  fill: #132512;
  z-index: 10;
}

.waves_banner_two {
  position: relative;
  z-index: 1;
}

.waves_two {
  height: 150px;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
}

.waves_two svg {
  height: 100%;
  width: 100%;
}

.waves_two path {
  stroke: none;
  fill: #132512;
}

.section_features {
  height: 110vh;
  width: 100%;
  background-color: #123812;
}

.section_features h1,
.section_features h3 {
  margin: 1em 0 1em 0;
  color: var(--neutral-white-color);
  font-family: var(--font-family-primary);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section_features p {
  margin: 0 0 1em 0;
  color: var(--neutral-white-color);
  font-family: var(--font-family-secondary);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section_features .container {
  flex-direction: column;
}

.section_improvements {
  height: 90vh;
  width: 100%;
  background-color: #132512;
}

.section_improvements h1,
.section_improvements h3 {
  margin: 0 0 1em 0;
  color: var(--neutral-white-color);
  font-family: var(--font-family-primary);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section_improvements p {
  margin: 0 0 1em 0;
  color: var(--neutral-white-color);
  font-family: var(--font-family-secondary);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section_improvements .container {
  flex-direction: column;
}

.cards {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
}

.cards img {
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.card {
  flex: 1;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .landpage .container {
    flex-direction: row;
  }
  .banner,
  .signup {
    width: 100%;
  }

  .banner_img {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .landpage .container {
    flex-direction: column;
  }
  .banner {
    display: none;
  }
  .signup {
    width: 100%;
  }

  .banner_img {
    width: 80%;
  }

  .section_features {
    height: fit-content;
  }

  .section_features .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_features .cards .card {
    width: 90%;
    margin: 1em auto;
  }

  .section_features .cards .card img {
    width: 60%;
    margin-bottom: 1em;
  }

  .section_improvements {
    height: fit-content;
  }

  .section_improvements .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_improvements .cards .card {
    width: 90%;
    margin-bottom: 20px;
  }

  .section_improvements .cards .card img {
    width: 60%;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 480px) {
  .landpage .container {
    flex-direction: column;
  }

  .banner,
  .signup {
    width: 100%;
  }

  .banner_img {
    width: 90%;
  }
}
