.shop-wrapper {
  padding-left: 16px;
  background-color: #f9f9f9;
}

.shop-equipment {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .equipment_heading {
    text-align: center;
  }

  .shop-equipment {
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 468px) {
}
