.section_login {
  background-image: url("https://res.cloudinary.com/drv1e8rjp/image/upload/v1711086736/footer_three_btvpg8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section_login p {
  color: var(--neutral-white-color);
  font-family: var(--font-family-secondary);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section_login h1,
.section_login h3 {
  color: var(--neutral-white-color);
  font-family: var(--font-family-primary);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section_login .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
}

.section_login Link {
  color: var(--neutral-white-color);
  font-family: var(--font-family-primary);
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.login form {
  max-width: 400px;
  border-radius: 8px;
  font-family: var(--font-family-secondary);
  margin: 0 auto;
}

.login input {
  display: block;
  margin-bottom: 10px;
  color: var(--neutral-white-color);
  font-family: var(--font-family-form);
  font-weight: var(--font-weight-bold);
  width: 95%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.login input:hover,
.login input:focus {
  border-color: var(--neutral-gray-color);
  background-color: rgba(0, 0, 0, 0.5) !important;
  outline: none;
}

.login input::placeholder {
  color: var(--neutral-white-color);
  font-family: var(--font-family-secondary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.login label {
  color: var(--neutral-white-color);
  font-family: var(--font-family-primary);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-login {
  color: var(--neutral-white-color);
  background-color: var(--accent-color-red);
  font-family: var(--font-family-primary);
  margin: 1em auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease, font-size 0.3s ease;
}

.btn-login:hover {
  background-color: rgba(96, 17, 17, 0.9);
}

.link {
  color: var(--neutral-white-color);
  font-family: var(--font-family-primary);
  /* text-decoration: none; */
}

.link:hover {
  color: var(--neutral-gray-color);
  cursor: pointer;
}

.login_demo {
  text-align: center;
}

.login_demo_signin {
  background-color: darkcyan;
  margin: 0 auto;
  width: 60%;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
