.nav-wrapper {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslategray;
}

.icon {
  margin-left: 4px;
}

.nav-wrapper_left {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_app-name {
  /* border: 1px solid yellow; */
  margin: 15px 25px 15px 7px;
  font-family: 'Cinzel Decorative', serif;
  color: gold;
  font-size: 30px;
  font-weight: bold;
  cursor: default;
}

.nav_link {
  /* border: 1px solid yellow; */
  width: 175px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link:hover {
  background-color: darkcyan;
}

.nav_link_text {
  font-family: 'Cinzel Decorative', serif;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.nav_link:hover {
  cursor: pointer;
}

.profile-button {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-dropdown {
  border: 1px solid black;
  background-color: white;
  padding: 15px;
  position: fixed;
  top: 42px;
  right: 18px;
  z-index: 1;
}
